[Unit]
Description=Atualiza diariamente as listas de IP do WAF

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
